
#sidebar {
    width: 300px;
    position: fixed;
    top: 53px;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar ul{color:black;}

#sidebar.active {
    left: 0;
}

div.image_list {
    padding: 10px;
    height: 110px;
}

div.image_list > .img_part {
    width: 120px;
    float: left;
    margin-right: 10px;
}

div.image_list span {
    color: #6b6b6b;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #3884c5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #337ab7;
}

#sidebar .sidebar-header h3 {
    margin: 0;
}

#sidebar li.components {
    padding: 0;
    border-bottom: 1px solid #47748b;
}

ul.comments {
    padding: 5px;
    border-top: 2px solid #47748b;
}

ul.comments li {
    border-bottom: 1px solid #47748b;
}

ul.comments div.name {
    padding: 5px;  
}
ul.comments div.name span {
    float:right;
    font-size: 13px;
    padding: 5px;
    color: #82888c;
}

ul.comments div.content {
    padding:5px;
    font-size: 13px;
    color: #47748b;
}

.menu_li div{
    font-size: 11px;
    width: 100%;
    padding: 1px;
}
.menu_li ul{
    padding-left:10px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #337ab7;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

li.login_myposi a{
    color: #cbd2d8;
    border-color: #cbd2d8;
    padding: 5px 5px;
    background-color: #171717; 
}
li.login_myposi, li.login_userlist, li.login_remove{
    color: #cbd2d8;
    padding: 10px 3px;
}
li.logout{
    pdding:0px;
}

li.login_remove a {
    color: #cbd2d8;
    border-color: #cbd2d8;
    padding: 5px 5px;
    background-color: #171717; 
}
li.login_user {
    color: #cbd2d8;
    padding: 15px 3px;
}
li.login_userlist a{
    color: #cbd2d8;
    border-color: #cbd2d8;
    padding: 5px 5px;
    background-color: #171717; 
}